<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>간단한 유저 + 게시판 시스템</title>
</head>
<body>
<section>
    <h1>게시물 작성</h1>
    <form th:action="@{/board}" method="post" th:object="${board}">
        <input type="text" th:field="*{title}">
        <input type="text" th:field="*{content}">
        <button>작성</button>
    </form>
</section>
</body>
</html>